.rotatedlist{
    height: 130px;
    overflow-y: hidden;
  }

.rotatedlistimages{
    height: 420px;
    overflow-y: hidden;
  }

  #content ul.ulrotated {
    list-style-type: none;
  }

  #content li.lirotated{
    height: 60px;
  }

  #content li.lirotatedimage{
    height: 200px;
    list-style-type: none;
  }



a.cuheader-color, a.cuerheader-color, a.oaxheader-color, a.jurheader-color{
    color: white !important;
}

#content a.cuheader-color:visited, #content a.cuerheader-color:visited, #content a.oaxheader-color:visited, #content a.jurheader-color:visited{
    color:white;
}

#content .cuheader-color a:hover, #content .cuerheader-color a:hover, #content .oaxheader-color a:hover, #content .jurheader-color a:hover{
    color: white !important;
}

.linkwithborderwhite{
  border-bottom-color:white !important;
}

@media screen and (max-width: 1000px) {
    li.lirotated{
        font-size: smaller;
    }

    #content li.lirotated{
        height: 70px;
    }

    .rotatedlist{
        height: 150px;
  }

  li.lirotatedimage{
        font-size: smaller;
    }

  #content li.lirotatedimage{
        height: 220px;
    }

    .rotatedlistimages{
        height: 460px;
  }

}

#content div.block_1 div.collage_type_link a:link,
#content div.block_1 div.collage_type_link a:visited,
#content div.block_1 div.collage_type_link a:hover,
#content div.block_1 div.collage_type_link a:active{
  color: white !important;
}

div.block_1 div.collage_type_link h2{
    font-size: 1.25em;
    font-family: Arial, FreeSans, sans-serif;
    font-weight: bold;
    line-height: 1.5em;
    text-align: left;
    padding-left: 15px;
}

div.block_1 div.collage_item_4{
    background-color: #4387fd;
}
div.block_1 div.collage_item_5 {
    background-color: #75ad0a;
}
div.block_1 div.collage_item_6 {
    background-color: #944ADF;
}
div.block_1 div.collage_item_7 {
    background-color: #F17C06;
}

.site-infomatem .cuheader-color {
    background-color: #9C1414;
}

.track-progress[data-steps="3"] li { width: 25%; }
.track-progress[data-steps="4"] li { width: 25%; }
.track-progress[data-steps="5"] li { width: 20%; }

.track-progress {
  margin: 0 !important;
  padding: 0;
  overflow: hidden;
}


.track-progress li {
  list-style-type: none;
  display: inline-block !important;

  position: relative;
  margin: 0;
  padding: 0;

  text-align: center;
  line-height: 30px !important;
  background-color: #f0f0f0;
}

.track-progress li > span {
  display: block;

  color: #999;
  font-weight: bold;
  text-transform: uppercase;
}

.track-progress li.done > span {
  color: #666;
  background-color: #ccc;
}

.track-progress li > span:after,
.track-progress li > span:before {
  content: "" !important;
  display: block;
  width: 0px;
  height: 0px;

  position: absolute;
  top: 0;
  left: 0;

  border: solid transparent;
  border-left-color: #f0f0f0;
  border-width: 15px;
}

.track-progress li > span:after {
  top: -5px;
  z-index: 1;
  border-left-color: white;
  border-width: 20px;
}

.track-progress li > span:before {
  z-index: 2;
}

.track-progress li.done + li > span:before {
  border-left-color: #ccc;
}

.track-progress li:first-child > span:after,
.track-progress li:first-child > span:before {
  display: none;
}

.track-progress li:first-child i,
.track-progress li:last-child i {
  display: block;
  height: 0;
  width: 0;

  position: absolute;
  top: 0;
  left: 0;

  border: solid transparent;
  border-left-color: white;
  border-width: 15px;
}

.track-progress li:last-child i {
  left: auto;
  right: -15px !important;

  border-left-color: transparent;
  border-top-color: white;
  border-bottom-color: white;
}


.candidatos {

}
